# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\HP\Documents\COMPUTER ENGINEERING FOR ROBOTICS AND SMART INDUSTRY\Computer Vision\automatic2dmosaicing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
